<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Landing page</h1>
    
    <p> <i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </i>  <b> Itaque aliquid ad </b>  sint quibusdam incidunt quo praesentium temporibus laudantium rerum voluptatum quae libero corrupti atque maiores explicabo repellendus suscipit dolorem necessitatibus!</p>

    <p><a href="{%url 'users:register_page'%}">Register</a>/ <a href="{%url 'users:login_page'%}">Login</a></p> 
   

</body>
</html>